
#root {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

/* Mapbox Customization */
.mapboxgl-popup {
  max-width: 250px !important;
}

.mapboxgl-popup-content {
  background-color: #123E59 !important;
  color: white !important;
  padding: 12px !important;
  border-radius: 4px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
}

.mapboxgl-popup-tip {
  border-top-color: #123E59 !important;
  border-bottom-color: #123E59 !important;
}

.mapboxgl-popup-close-button {
  color: white !important;
}

.mapboxgl-ctrl-attrib {
  display: none !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
